.search-component {
    background-color: var(--color-secondary-2);

    width: 100%;
    /* padding: 30px 25px; */

    border-radius: var(--border-radius);

    max-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
