.result-item {
    display: flex;
    gap: 10px;

    margin: 0px;
    border-radius: 8px;

    padding: 10px;

    list-style: none;

    cursor: pointer;
}
.result-item:hover {
    background-color: #20272b;
}

.result-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    background-color: var(--color-white);
    border-radius: var(--border-radius);
}
.loading-image-wrapper {
    background-color: #14212f !important;
}

.result-item img {
    width: 80%;
}

.result-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 14px;
    font-weight: 500;
}
.result-text h3 {
    margin: 0;
}
.result-text p {
    margin: 0;
    font-size: 12px;
    color: var(--color-gray);
}

.loading {
    color: #1b2c3f !important;
}
