.filters-container {
    display: flex;
    gap: 10px;

    padding: 0px 30px 10px 30px;
}

.filter-button {
    background-color: #0f2d37;
    color: var(--color-white);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;

    padding: 8px 15px;

    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.filter-button:not(.filter-button-active):hover {
    background-color: #555e61;
}

.filter-button-active {
    background-color: var(--color-primary-2);
    color: var(--color-white);
}

@media (max-width: 768px) {
    .filters-container {
        padding: 0px 15px 10px 15px;
    }
}
